{{!-- <li> --}}

	<tr>
		<td>
			{{name}} 
		</td>
		<td>
			{{upc}} 
		</td>
		<td>
			{{source1}}
		</td>
		<td>
		    {{salePrice1}}
		</td> 
		<td>
			{{source2}}
		</td>
		<td>
			{{salePrice2}}
		</td>	
	</tr>
	{{!-- <button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{!-- {{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}} --}}
	{{!-- </button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
{{!-- </li> --}}
